@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Materials.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new sc.Default.MaterialsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>